$primary-color: #f05123;
$text-color: #333;
$gray-color: #666;
$plum-color: #b80257;
$fb-color: #4080ff;
$mail-color: #f47425;
$button-color: #1dbfaf;
$button-image: linear-gradient(180deg, #1dbfaf, #1dbfaf 50%, #1dbfaf);

$text-size: 1.4rem;
$text-weight: 500;
$text-height: 1.6;

$navBar-height: 5.4rem;
