#app {
	overflow: hidden;
}

.course-container {
	margin-top: $navBar-height;
}

// Header section
.header {
	position: relative;
	background-image: url('./assets/img/header-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 100vh;

	// Herder body
	&__content-wrapper {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	&__content {
		flex: 1 1;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include responsive(mobile) {
			margin: 2.4rem 1.6rem 0;
			text-align: center;
		}
	}

	&__body {
		flex: 1;
		color: white;
	}

	&__slogan {
		font-size: $text-size;
		font-weight: 700;
	}

	&__title {
		font-size: 5rem;
		line-height: 1.8;
		margin: 1.6rem 0 2.4rem;
		text-transform: uppercase;

		@include responsive(mobile) {
			font-size: 3.8rem;
		}
	}

	@include responsive(tablet) {
		padding-top: 60%;
		background-size: 128% auto;
	}
}

// Intro section
.intro-section {
	padding-top: 0.6rem;

	&__item {
		padding-top: 4.4rem;
		padding-bottom: 4.4rem;
		text-align: center;

		@include responsive(mobile) {
			padding-top: 2.2rem;
		}
	}

	&__item:first-child {
		padding-top: 4.4rem;
	}

	&__img {
		width: 7.6rem;
	}

	&__msg {
		font-size: 1.8rem;
		font-weight: 500;
		margin-top: 1.6rem;
		margin-bottom: 1.2rem;
	}
}

// inspired-section
.inspired-section {
	height: 34rem;
	background-color: $primary-color;
	margin-top: 13.6rem;

	&__body {
		text-align: center;
		color: white;
		padding: 8.2rem 0 4rem;
	}

	&__title {
		font-size: 3.2rem;
	}

	&__slogan {
		font-size: 1.6rem;
		margin: 2.2rem 0 5.2rem;
	}

	&__btn {
		font-size: 1.6rem;
		background-color: #9c7ae0;
		display: inline-block;
		min-width: 16rem;
		margin: 0 auto;

		@include responsive(mobile) {
			width: calc(100% - 5.6rem);
		}
	}

	&__btn:hover {
		filter: brightness(1);
	}
}

// Founder-section
.founder-section {
	margin: 2rem 0;
	&__img {
		max-width: 100%;
	}

	&__msg {
		font-weight: 400;
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;

		@include responsive(mobile) {
			margin-top: 2rem;
			padding: 0 2rem;
			text-align: center;
		}
	}

	&__msg > blockquote {
		font-size: 2rem;
		line-height: 1.6;
		font-style: italic;
	}

	&__msg > p {
		font-size: $text-size;
		margin-top: 1.6rem;
		margin-bottom: 1.2rem;
	}
}
